body {
  min-width: 1122px;
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.to-left {
  float: left;
}

.to-right {
  float: right;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
}

h3 {
  margin: 0px;
}


/*=================BTNs===============*/

.btn {
  display: block;
  width: 205px;
  padding: 11px 0px;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background: #ee3643;
  border-radius: 3px;
}


/*  ============================ICON-FONT=============================      */

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "symbols-technomart";
  src: url("../fonts/symbols-technomart.woff") format("woff"), url("../fonts/symbols-technomart.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;
  speak: none;
}

.icon-left::before {
  content: "\3c";
}


/* "&lt;" */

.icon-right::before {
  content: "\3e";
}


/* "&gt;" */

.icon-basket::before {
  content: "\62";
}


/* "b" */

.icon-facebook::before {
  content: "\66";
}


/* "f" */

.icon-twitter::before {
  content: "\74";
}


/* "t" */

.icon-vk::before {
  content: "\76";
}


/* "v" */

.icon-up::before {
  content: "\2c4";
}


/* "˄" */

.icon-down::before {
  content: "\2c5";
}


/* "˅" */

.icon-left-big::before {
  content: "\2190";
}


/* "←" */

.icon-right-big::before {
  content: "\2192";
}


/* "→" */

.icon-login::before {
  content: "\2386";
}


/* "⎆" */

.icon-logout::before {
  content: "\241b";
}


/* "␛" */

.icon-up-dir::before {
  content: "\25b2";
}


/* "▲" */

.icon-down-dir::before {
  content: "\25bc";
}


/* "▼" */

.icon-circle::before {
  content: "\25cb";
}


/* "○" */

.icon-circle-dot::before {
  content: "\25cf";
}


/* "●" */

.icon-star::before {
  content: "\2605";
}


/* "★" */

.icon-check-off::before {
  content: "\2610";
}


/* "☐" */

.icon-check-on::before {
  content: "\2611";
}


/* "☑" */

.icon-youtube::before {
  content: "\f39e";
}


/* "" */

.icon-home::before {
  content: "🏠";
}


/* "\1f3e0" */

.icon-user::before {
  content: "👨";
}


/* "\1f468" */

.icon-phone::before {
  content: "📞";
}


/* "\1f4de" */

.icon-instagramm::before {
  content: "📷";
}


/* "\1f4f7" */

.icon-search::before {
  content: "🔍";
}


/* "\1f50d" */

.icon-bookmark::before {
  content: "🔖";
}


/* "\1f516" */


/*==========================SPRITESHEET==========================*/

.sprite {
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite--interscol {
  width: 184px;
  height: 32px;
  background-position: -20px -20px;
}

.sprite-AEG {
  width: 151px;
  height: 96px;
  background-position: -20px -92px;
}

.sprite-DeWALT {
  width: 146px;
  height: 44px;
  background-position: -20px -228px;
}

.sprite-LG {
  width: 121px;
  height: 73px;
  background-position: -20px -312px;
}

.sprite-Makita {
  width: 123px;
  height: 40px;
  background-position: -20px -425px;
}

.sprite-Metabo {
  width: 204px;
  height: 69px;
  background-position: -20px -505px;
}

.sprite-bosch {
  width: 126px;
  height: 37px;
  background-position: -20px -614px;
}

.sprite-close {
  width: 21px;
  height: 21px;
  background-position: -20px -691px;
}

.sprite-dark-slide {
  width: 10px;
  height: 272px;
  background-position: -20px -752px;
}

.sprite-features-bucket {
  width: 44px;
  height: 65px;
  background-position: -20px -1064px;
}

.sprite-features-car {
  width: 78px;
  height: 63px;
  background-position: -20px -1169px;
}

.sprite-features-drill {
  width: 75px;
  height: 61px;
  background-position: -20px -1272px;
}

.sprite-features-tractor {
  width: 78px;
  height: 62px;
  background-position: -20px -1373px;
}

.sprite-features-trolly {
  width: 59px;
  height: 72px;
  background-position: -20px -1475px;
}

.sprite-new-flag {
  width: 60px;
  height: 59px;
  background-position: -20px -1587px;
}

.sprite-slide-credit {
  width: 465px;
  height: 284px;
  background-position: -20px -1686px;
}

.sprite-slide-delivery {
  width: 468px;
  height: 261px;
  background-position: -20px -2010px;
}

.sprite-slide-warranty {
  width: 389px;
  height: 283px;
  background-position: -20px -2311px;
}


/*====================================HEADER=========================*/


/*-------------------HEADER-TOP--------------------- */

.main-header-info-panel {
  min-height: 42px;
  background-color: #293449;
  color: #f1f1f3;
  font-size: 17px;
}

.main-header-info-panel a {
  color: #ffffff;
}

logo-conatiner {
  width: 112px;
}

.logo {
  display: block;
  padding: 9px 55px;
  background-color: #ee3643;
  border-top: 1px solid #e03643;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.search {
  box-sizing: border-box;
  width: 270px;
  padding-left: 46px;
  position: relative;
  margin: 0px;
  vertical-align: middle;
}

.search input[type="text"] {
  display: inline-block;
  width: 100%;
  height: 42px;
  font-size: 17px;
  background: #2b303b;
  border: none;
  color: #ffffff;
  margin-bottom: 0;
  margin-top: 0;
}

.order {
  padding: 13px 22px;
  font-size: 17px;
  background-color: #63a63e;
}

.bucket {
  padding: 13px 30px;
  padding-left: 60px;
}

.bookmarks {
  padding: 13px 14px;
  padding-left: 46px;
}


/*  --------------------HEADER-BOTTOM-------------------*/

.main-header {
  margin-bottom: 119px;
}

.main-header-menu {
  background-color: #f2f6f8;
}

.menu-info {
  padding-top: 45px;
  padding-bottom: 39px;
}

.menu-info-block {
  width: 300px;
  margin-right: 20px;
}

.menu-info-block p {
  padding: 0px;
  margin: 0px;
}

.menu-info-block.intro p {
  padding: 0px 51px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

p.phone-number {
  width: 190px;
  padding-left: 74px;
  margin-bottom: 5px;
  font-size: 21px;
  line-height: 40px;
  border: 2px solid #ffffff;
  color: #ee3643;
}

.contact p.address {
  font-size: 14px;
  line-height: 24px;
  padding-left: 10px;
}

.menu-info-block.user {
  margin-right: 0px;
  font-size: 0px;
  color: #000000;
}

.user-new a {
  color: #000000;
  font-size: 21px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.user-new a.login-link {
  display: inline-block;
  width: 45px;
  margin-left: 19px;
  padding-left: 49px;
  padding-right: 26px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #ffffff;
}

.user-new a.signup-link {
  display: inline-block;
  width: 100px;
  padding: 12px 25px;
  margin-left: 10px;
}


/*--USER-ROOM--*/

.user-room-name {
  display: inline-block;
  width: 100%;
  height: 45px;
  padding-left: 49px;
  color: #000000;
  font-size: 21px;
  line-height: 40px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.user-room-orders,
.user-room-page {
  font-size: 16px;
  color: #32425c;
  text-decoration: underline;
}

.user-room-orders {
  margin-left: 18px;
  display: inline-block;
}

.user-room-page {
  padding-left: 33px;
  display: inline-block;
}


/*-----------------MENU-NAV-----------------*/

.menu-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  background-color: #293449;
  /*  text-align: center;*/
}

.menu-nav li {
  display: inline-block;
  font-size: 17px;
  vertical-align: top;
}

.menu-nav a {
  display: block;
  padding: 20px 30px;
  color: #ffffff;
  text-decoration: none;
}

.menu-nav li:first-child a {
  padding-left: 53px;
}

.menu-nav li:last-child a {
  padding-right: 59px;
}


/*======================MAIN-INDEX-PAGE==================================*/


/*--------------------FEATURES---------------------*/

.feature-main-item {
  width: 300px;
  padding-top: 22px;
  padding-bottom: 20px;
  box-sizing: border-box;
  /*  height: 123px;*/
}

.feature-main-item:nth-child(1),
.feature-main-item:nth-child(2) {
  margin-right: 20px;
  margin-bottom: 20px;
}

.feature-main-item:nth-child(5) {
  margin-bottom: 20px;
}

.features-main {
  margin-bottom: 53px;
}

.feature-main-item h3 {
  margin-top: 0px;
  padding: 0px;
  margin-bottom: 17px;
  margin-left: 23px;
  margin-bottom: 13px;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  font-weight: bold;
  font-family: inherit;
}

.feature-main-item a {
  display: block;
  width: 135px;
  padding: 10px 0;
  border-radius: 3px;
  margin-top: 0px;
  margin-left: 24px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: bottom;
  color: #ffffff;
  background-color: #e5e5e5;
  background-color: rgba(51, 153, 204, .10);
  text-transform: uppercase;
  color: #ffffff;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
}


/*--MATERIAL--*/

.feature-main-item.material {
  background-color: #f6b22d;
  position: relative;
}

.feature-main-item.material::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 42px;
  background-image: url("../img/spritesheet.png");
  width: 44px;
  height: 65px;
  background-position: -20px -1064px;
}


/*--TOOLS--*/

.feature-main-item.tools {
  background-color: #4aafde;
  position: relative;
}

.feature-main-item.tools::after {
  content: "";
  position: absolute;
  top: 31px;
  right: 30px;
  background-image: url("../img/spritesheet.png");
  width: 75px;
  height: 61px;
  background-position: -20px -1272px;
}


/*--EQUIPMENT--*/

.feature-main-item.equipment {
  background-color: #cc79d1;
  position: relative;
}

.feature-main-item.equipment:after {
  content: "";
  position: absolute;
  top: 30px;
  right: 33px;
  background-image: url("../img/spritesheet.png");
  width: 78px;
  height: 62px;
  background-position: -20px -1373px;
}


/*--DISCOUNT--*/

.feature-main-item.discount {
  background-color: #85d179;
  position: relative;
}

.feature-main-item.discount::after {
  content: "";
  position: absolute;
  top: 26px;
  right: 42px;
  background-image: url("../img/spritesheet.png");
  width: 59px;
  height: 72px;
  background-position: -20px -1475px;
}


/*--DELIVERY--*/

.feature-main-item.delivery {
  background-color: #f6b22d;
  position: relative;
}

.feature-main-item.delivery::after {
  content: "";
  position: absolute;
  top: 32px;
  right: 33px;
  background-image: url("../img/spritesheet.png");
  width: 78px;
  height: 63px;
  background-position: -20px -1169px;
}


/*--SLIDE--*/

.feature-main-slider {
  position: relative;
  width: 620px;
  height: 266px;
  margin-right: 20px;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 266px;
  background-repeat: no-repeat;
}

.feature-main-slider input[type="radio"] {
  display: none;
}

.slider-controls {
  position: absolute;
  bottom: 35px;
  left: 50%;
  z-index: 10;
  width: 140px;
  height: 10px;
  margin-left: -70px;
  text-align: center;
}

.slider-controls label {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin: 0 2px;
  vertical-align: top;
  background: #ffffff;
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.prev,
.next {
  position: absolute;
  cursor: pointer;
  top: 50%;
  font-size: 45px;
  color: white;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 20px;
}

.prev {
  left: 25px;
}

.slide-text {
  width: 275px;
  font-size: 18px;
  color: #ffffff;
  margin-left: 25px;
}

.slide-text p {
  margin: 0;
  padding: 0;
  font-family: "PT sans,sans-serif"
}

.slide-title {
  margin-top: 25px;
  margin-bottom: 6px;
  font-size: 36px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.slide .btn {
  display: block;
  width: 196px;
  margin-top: 122px;
  padding: 10px 0px;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background: #ee3643;
  border-radius: 3px;
}

.slide:nth-child(1) {
  background-image: url("../img/man-perforator.jpg");
}

.slide:nth-child(2) {
  background-image: url("../img/man-drill.jpg");
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
  left: 0;
}

#btn-1:checked ~ .slides .slide:nth-child(2) {
  left: 880px;
}

#btn-2:checked ~ .slides .slide:nth-child(1) {
  left: -880px;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  left: 0;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"] {
  background: #ee3643;
}


/* ----------------------POPULAR-GOODS---------------*/


/*Нужно выровнить горизонтально */

.popular-header {
  float: left;
  width: 375px;
  margin: 0px;
  padding-top: 5px;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  font-weight: normal;
}

.popular-link {
  float: right;
  width: 253px;
  padding: 11px 0px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  border-radius: 3px;
}

.popular-goods-head {
  margin-bottom: 21px;
  padding: 25px;
  background-color: #f7f3ec;
  text-transform: uppercase;
}


/* --POPULAR-GOODS-ITEM--*/

.popular-goods-items {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.popular-goods-items li {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 218px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  vertical-align: top;
  text-align: center;
  border: 1px solid #e5e5e5;
  min-height: 316px;
}

.popular-goods-items li:last-child {
  margin-right: 0px;
}

.popular-goods-order {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 98px;
  padding: 40px 0;
  background-color: rgba(255, 2555, 2555, 0.9);
  z-index: 10;
}

.popular-goods-order .buy,
.popular-goods-order .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  background-color: #63a63e;
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 3px;
}

.popular-goods-order .bookmark {
  color: #32425c;
  background: #ffffff;
  border-bottom-color: #63a63e;
}

.popular-goods-order {
  display: none;
}

.popular-goods-items li:hover .popular-goods-order {
  display: block;
}

.popular-goods-item-image {
  width: 218px;
  height: 178px;
}

.popular-goods-item-image img {
  max-width: 100%;
}

.popular-goods-item-title {
  display: inline-block;
  min-height: 40px;
  padding: 0 5px;
  margin-top: 0px;
  font-family: "ps sans,sans-serif";
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  font-weight: bold;
  /*  margin-bottom: 10px;*/
}

.popular-goods-item-discount {
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #999999;
  text-decoration: line-through;
}

.popular-goods-item-price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  color: #ffffff;
  background: #ee3643;
  border-radius: 3px;
}

.popular-goods-item-price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0px;
  height: 0px;
  border: 20px solid #ffffff;
  border-left-color: transparent;
}

.popular-goods-items li.new::before {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 10;
  width: 60px;
  height: 60px;
  content: '';
  background-image: url('../img/spritesheet.png');
  background-position: -20px -1587px;
}


/* ---------------------POPULAR-PRODUCERS---------------*/

.producers-head {
  float: left;
  width: 450px;
  margin: 0px;
  padding-top: 5px;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  font-weight: normal;
}

.producers-link {
  float: right;
  width: 253px;
  padding: 11px 0px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  border-radius: 3px;
}

.popular-producers-head {
  margin-bottom: 22px;
  padding: 24px;
  background-color: #f7f3ec;
  text-transform: uppercase;
}

.popular-producers-items {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  text-align: center;
  vertical-align: baseline;
}

.popular-producers-items li {
  display: inline-block;
  min-height: 143px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 218px;
  font-size: 17px;
  vertical-align: top;
  border: 1px solid #e5e5e5;
}

.popular-producers-items li:nth-child(4n) {
  margin-right: 0px;
}

.popular-producers {
  margin-bottom: 63px;
}


/* ---------------FEATURES-SERVICES----------------------*/

.features-services {
  background-color: #f2f6f8;
  /*  min-height: 518px;*/
  padding-top: 68px;
  margin-bottom: 80px;
}

.services-header {
  margin-bottom: 70px;
}

.services-header-title {
  font-size: 30px;
  font-weight: normal;
  margin: 0px;
  margin-bottom: 28px;
  text-transform: uppercase;
}

.service-header-content {
  width: 400px;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
}


/*---FEATURES-SLIDER---*/

.features-services-slider {
  position: relative;
  width: 940px;
  height: 285px;
  overflow: hidden;
}

.service-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 285px;
  background-repeat: no-repeat;
  background-position: 100% 0px;
  -webkit-transition: left 0.3s ease;
  -moz-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

.features-services-slider input[type="radio"] {
  display: none;
}

.features-services-slider-controls {
  position: absolute;
  width: 240px;
  top: 0;
  left: 0;
  z-index: 10;
}

.features-services-slider-controls label {
  display: block;
  padding: 16px 22px;
  background-color: #32425c;
  border-bottom: 1px solid #293449;
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  cursor: pointer;
}

.features-services-slider-controls label:not(:nth-child(1)) {
  border-top: 1px solid #405069;
}

.service-slide-text {
  width: 401px;
  min-height: 182px;
  position: absolute;
  top: 4px;
  left: 320px;
}

.service-slide-title {
  font-size: 36px;
  color: #32425c;
  font-weight: normal;
  text-transform: uppercase;
}

.service-slide p {
  line-height: 24px;
  font-family: "PT Sans, sans-serif";
  font-size: 13px;
}

.btn.request-btn {
  display: block;
  width: 205px;
  margin-top: 32px;
  padding: 11px 0px;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background: #ee3643;
  border-radius: 3px;
}

.service-slide:nth-child(1) {
  background-image: url("../img/slide-delivery.png");
  /*  width: 468px;*/
  /*  height: 261px;*/
  /*  background-position: -20px -2010px;*/
}

.service-slide:nth-child(2) {
  background-image: url("../img/slide-warranty.png");
  /*
  width: 389px;
  height: 283px;
*/
  /*  background-position: -20px -2311px;*/
}

.service-slide:nth-child(3) {
  background-image: url("../img/slide-credit.png");
  /*  width: 465px;*/
  /*  height: 284px;*/
  /*  background-position: -20px -1686px;*/
}

#delivery:checked ~ .service-slides .service-slide:nth-child(2),
#delivery:checked ~ .service-slides .service-slide:nth-child(3) {
  top: 285px;
}

#warranty:checked ~ .service-slides .service-slide:nth-child(1) {
  top: -285px;
}

#warranty:checked ~ .service-slides .service-slide:nth-child(2) {
  top: 0;
}

#warranty:checked ~ .service-slides .service-slide:nth-child(3) {
  top: -285px;
}

#credit:checked ~ .service-slides .service-slide:nth-child(1) {
  top: -285px;
}

#credit:checked ~ .service-slides .service-slide:nth-child(2) {
  top: -285px;
}

#credit:checked ~ .service-slides .service-slide:nth-child(3) {
  top: 0;
}

#delivery:checked ~ .features-services-slider-controls label[for="delivery"],
#warranty:checked ~ .features-services-slider-controls label[for="warranty"],
#credit:checked ~ .features-services-slider-controls label[for="credit"] {
  background: #ffffff;
  color: #32425c;
  border: none;
}


/*-------------------------COMPANY-INFO----------------*/

.company-info {
  margin-bottom: 83px;
}

.company-info-about {
  width: 540px;
}

.company-info-map {
  width: 300px;
}

.company-info-about h2,
.company-info-map h2 {
  margin-top: 0px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: normal;
}

.company-info-about p {
  font-family: "PT Sana, snas-serif";
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 27px;
}

.company-info-about p:nth-child(3) {
  width: 400px;
  margin-bottom: 24px;
}

.company-info-features {
  list-style: none;
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
}

.company-info-features li {
  padding-bottom: 17px;
}

.company-info-features li:last-child {
  padding-bottom: 20px;
}

.company-info-btn {
  width: 220px;
}

.company-info-map p {
  width: 200px;
  font-family: "PT Sana, snas-serif";
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 35px;
  padding: 0;
}

.map {
  width: 300px;
  height: 158px;
  background-image: url("../img/map.jpg");
  margin-bottom: 40px;
}

.map-btn {
  width: 300px;
}


/*
===============================================
--------------------FOOTER---------------------
===============================================*/

.
/*  ------------------FOOTER-TOP----------------*/

footer.main-footer {
  margin-top: 86px;
}

.footer-container-top {
  min-height: 193px;
  background-color: #32425c;
}

.footer-address {
  width: 340px;
}

.footer-menu {
  width: 550px;
}

.footer-logo {
  display: inline-block;
  width: 140px;
  padding: 20px 40px;
  text-align: center;
  color: #ffffff;
  border-bottom: 5px solid #b52933;
  margin-bottom: 30px;
}

.footer-address p {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}


/*---------menu-top------*/

.footer-menu-top {
  margin: 0;
  padding: 0;
  padding-top: 39px;
  list-style: none;
  font-size: 0;
}

.footer-menu-top li {
  display: inline-block;
  font-size: 17px;
  vertical-align: top;
  margin-right: 63px;
}

.footer-menu-top li:last-child {
  margin-right: 0;
}

.footer-menu-top a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-weight: normal;
}


/*-------menu-down-------*/

.footer-menu-down {
  margin: 0;
  padding: 0;
  width: 550px;
  padding-top: 39px;
  padding-left: 25px;
  list-style: none;
  font-size: 0;
}

.footer-menu-down li {
  display: inline-block;
  font-size: 17px;
  vertical-align: top;
  margin-right: 65px;
}

.footer-menu-down li:last-child {
  margin-right: 0px;
}

.footer-menu-down a {
  display: block;
  color: #ffd180;
  text-decoration: none;
}


/*   ----------------FOOTER-BOTTOM----------*/

.footer-container-bottom {
  background-color: #293449;
  padding: 35px 0 30px 0;
  max-height: 107px;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
}

.footer-company-validation {
  float: left;
  width: 230px;
  margin: 0px;
  ;
  margin-right: 155px;
}

.footer-social {
  width: 150px;
  margin-right: 90px;
  font-size: 0;
}

.footer-social a {
  display: inline-block;
  width: 42px;
  height: 42px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #212a3a;
}

.footer-copyright {
  width: 130px;
}

.footer-contact {
  width: 180px;
}

.footer-btn {
  color: #f5c97d;
}


/*======================MAIN-CATALOG-PAGE==================================*/

.catalog {
  margin-bottom: 125px;
}


/*--------------------BREADCRUMBS---------------------*/

.breadcrumbs {
  margin: 0;
  padding: 0;
  min-height: 60px;
  list-style: none;
  font-size: 0;
}

.breadcrumbs li {
  display: inline-block;
  font-size: 13px;
  vertical-align: top;
  line-height: 18px;
}

.breadcrumbs a {
  display: block;
  text-decoration: none;
  color: #000000;
}


/*------------------------------CATALOG-HEADER----------------*/


/*---------------catalog-filter-------------*/

.catalog-filter-box {
  width: 220px;
  min-height: 746px;
}


/*-----------------catalog-goods-----------------------*/

.catalog-goods-box {
  width: 700px;
}


/*------------CATALOG-GOOD-HEADER-------------*/

.catalog-goods-sorting-header {
  margin: 0px;
  width: 100px;
}

.catalog-goods-sorting ul {
  float: right;
  margin: 0;
  padding: 0;
  min-height: 60px;
  list-style: none;
  font-size: 0;
}

.catalog-goods-sorting li {
  display: inline-block;
  font-size: 13px;
  vertical-align: top;
  line-height: 18px;
}

.catalog-goods-sorting a {
  display: block;
  text-decoration: none;
  color: #000000;
}

.catalog-goods-sorting {
  margin-bottom: 20px;
}


/*---------------------CATALOG-GOODS-ITEM-------------*/

.catalog-goods {
  font-size: 0;
  margin-bottom: 31px;
}

.catalog-goods-item {
  display: inline-block;
  width: 218px;
  min-height: 316px;
  vertical-align: top;
  font-size: 13px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.catalog-goods-item:nth-child(3n) {
  margin-right: 0;
}


}

/*-----------------------PAGINATION-------------------*/
.pagination {
  margin: 0px;
  padding: 0px;
  min-height: 38px;
  list-style: none;
  font-size: 0px;
}
.pagination li {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
}
.pagination a {
  display: block;
}

/*-------------------------PRODUCT-INFO------------*/
.product-info {
  min-height: 130px;
}
.product-info dd {
  margin: 0;
}