        html,
        body {
          min-width: 1122px;
          margin: 0;
          padding: 0;
        }
        
        body {}
        
        .clearfix:after {
          content: "";
          display: table;
          clear: both;
        }
        
        .to-left {
          float: left;
        }
        
        .to-right {
          float: right;
        }
        
        .container {
          width: 960px;
          margin: 0 auto;
          padding: 0 10px;
        }
        
        .hidden {
          display: none;
        }
        /*==================================================
      ------------HEADER-----------------------
==================================================*/
        /*-------------------HEADER-TOP--------------------- */
        
        .main-header-info-panel {
          min-height: 42px;
          background-color: #293449;
          color: #f1f1f3;
        }
        
        .logo {
          width: 220px;
        }
        
        .search {
          width: 270px;
        }
        /*  --------------------HEADER-BOTTOM-------------------*/
        
        .main-header-menu {
          min-height: 278px;
          background-color: #f2f6f8;
          margin-bottom: 60px;
        }
        
        .menu-info-block {
          width: 300px;
          margin-right: 20px;
          min-height: 158px;
        }
        
        .menu-info-block.user-room {
          margin-right: 0px;
        }
        
        .menu-nav {
          clear: both;
        }
        
        .menu-nav ul {
          margin: 0;
          padding: 0;
          list-style: none;
          font-size: 0;
          background-color: #293449;
        }
        
        .menu-nav li {
          display: inline-block;
          font-size: 17px;
          vertical-align: top;
        }
        
        .menu-nav a {
          display: block;
          padding: 21px 31px;
          /* the size has to be changed*/
          color: #ffffff;
          text-decoration: none;
        }
        /*==================================================
      ------------MAIN-INDEX-PAGE-----------------------
==================================================*/
        /*--------------------FEATURES---------------------*/
        
        .feature-main-item {
          width: 300px;
          min-height: 125px;
        }
        
        .feature-main-slide {
          width: 620px;
          height: 266px;
          /* remove the hieght */
          margin-right: 20px;
        }
        
        .feature-main-item:nth-child(1),
        .feature-main-item:nth-child(2) {
          margin-right: 20px;
          margin-bottom: 20px;
        }
        
        .feature-main-item:nth-child(5) {
          margin-bottom: 20px;
        }
        
        .features-main {
          margin-bottom: 53px;
        }
        /* ----------------------POPULAR-GOODS---------------*/
        
        .popular-header {
          display: inline-block;
        }
        
        .popular-goods-head {
          min-height: 89px;
          margin-bottom: 22px;
          background-color: #f7f3ec;
        }
        
        .popular-goods-items {
          margin: 0;
          padding: 0;
          list-style: none;
          font-size: 0;
        }
        
        .popular-goods-items li {
          display: inline-block;
          margin-right: 20px;
          width: 218px;
          font-size: 17px;
          min-height: 316px;
          vertical-align: top;
          border: 1px solid #e5e5e5;
        }
        
        .popular-goods-items li:last-child {
          margin-right: 0px;
        }
        
        .popular-goods {
          margin-bottom: 20px;
        }
        /* ---------------------POPULAR-PRODUCERS---------------*/
        
        .producers-head {
          display: inline-block;
        }
        
        .popular-producers-head {
          min-height: 89px;
          margin-bottom: 22px;
        }
        
        .popular-producers-items {
          margin: 0;
          padding: 0;
          list-style: none;
          font-size: 0;
        }
        
        .popular-producers-items li {
          display: inline-block;
          min-height: 143px;
          margin-right: 20px;
          margin-bottom: 20px;
          width: 218px;
          font-size: 17px;
          vertical-align: top;
          border: 1px solid #e5e5e5;
        }
        
        .popular-goods-items li:last-child {
          margin-right: 0px;
        }
        
        .popular-producers {
          margin-bottom: 130px;
        }
        /* ---------------FEATURES-SERVICES----------------------*/
        
        .services-header {
          clear: both;
          width: 480px;
          margin-bottom:70px; 
          
          
        }
        
        .features-services-slide {
          width: 240px;
        }
        
        .feature-services-delivery {
          width: 650px;
        }
        
        .features-services {
          margin-bottom: 80px;
          background-color: #f2f6f8;
          min-height: 353px;
          padding-top: 67px;
          padding-bottom: 102px;
        }
        /*-------------------------COMPANY-INFO----------------*/
        
        .company-info-about {
          width: 560px;
        }
        
        .company-info-map {
          width: 300px;
        }
        /*
===============================================
--------------------FOOTER---------------------
===============================================*/
        
        .main-footer {
          margin-top: 86px;
        }
        /*  ------------------FOOTER-TOP----------------*/
        
        .footer-container-top {
          min-height: 193px;
          background-color: #32425c;
        }
        
        .footer-address {
          width: 340px;
        }
        
        .footer-menu {
          width: 550px;
        }
        /*---------menu-top------*/
        
        .footer-menu-top {
          margin: 0;
          padding: 0;
          width: 550px;
          min-height: 96px;
          list-style: none;
          font-size: 0;
        }
        
        .footer-menu-top li {
          display: inline-block;
          font-size: 17px;
          vertical-align: top;
        }
        
        .footer-menu-top a {
          display: block;
          color: #ffffff;
          text-decoration: none;
        }
        /*-------menu-down-------*/
        
        .footer-menu-down {
          margin: 0;
          padding: 0;
          width: 550px;
          min-height: 96px;
          list-style: none;
          font-size: 0;
        }
        
        .footer-menu-down li {
          display: inline-block;
          font-size: 17px;
          vertical-align: top;
        }
        
        .footer-menu-down a {
          display: block;
          color: #ffd180;
          text-decoration: none;
        }
        /*   ----------------FOOTER-BOTTOM----------*/
        
        .footer-container-bottom {
          background-color: #293449;
        }
        
        .footer-company-validation {
          float: left;
          width: 240px;
          margin-right: 140px;
        }
        
        .footer-social {
          width: 150px;
          margin-right: 100px;
        }
        
        .footer-copyright {
          width: 140px;
        }
        
        .footer-contact {
          width: 180px;
        }